{{>header}}
{{>flash}}
    <div ><!--class="page-wrapper"-->
		<!-- PAGE CONTAINER-->
        <div><!-- class="page-container"-->
		<!-- MAIN CONTENT-->
            <div ><!-- class="main-content"--->
                <div class="section__content section__content">
                    <div class="container-fluid">
                        <div class="user-data__footer">
                            <a href="/task1" class="au-btn au-btn-load">Fetch API Data - 1</a>
                        </div>
                        <div class="user-data__footer">
                            <a href="/task2" class="au-btn au-btn-load">Fetch API Data - 2</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
{{!-- {{JSON.stringify(objTest)}} --}}
